body{
    background-color: skyblue;
}
@font-face{
    font-family: "BrockScript";
    src: url("BrockScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "scriptin";
    src: url("scriptin.woff") format("woff");
    font-weight: normal;
    font-style: normal;   
}
@font-face {
    font-family: "champignonmedium";
    src: url("champignon-webfont.woff2") format("woff2"),
         url("champignon-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: "eutemia";
    src: url("eutemia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
} 
#horde{
align-content: center;
}
#presentacion{
    font-family:champignonmedium;
    font-size: 80px;
    text-align: center;
}
#fondo{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: -50px;
    background-size: 140px, 270px;
    background-size: 150%, 100%; 
}
#pick{
    align-content: center;
}
#subt   {
    font-family: "eutemia";
    font-size: 70px;
    text-align: center;
}
@font-face{
    font-family: "porcelai";
    src: url("porcelai.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "free";
    src: url("free.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.parr{
    font-family: "eutenia";
    font-size: 40px;
    text-align: center;
}
#lista{
    font-family: "eutenia";
    font-size: 40px;
    text-align: center;
}
@font-face{
    font-family: "selfish";
    src: url("selfish.woff") format("woff");
    font-weight: normal;
    font-style: normal; 
}
#met{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 140px, 270px;
    background-size: 150%, 100%;
    text-align: center;
    font-family: "eutenia";
    font-size: 40px;
}
#car{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 140px, 370px;
    background-size: 150%, 100%;    
}
#study{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 140px, 370px;
    background-size: 150%, 100%;  
}
#jov{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 140px, 370px;
    background-size: 150%, 100%;  
}
#try{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 140px, 370px;
    background-size: 150%, 100%; 
}
#form{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 140px, 370px;
    background-size: 150%, 100%;
}
#form{
    background-image: url("pergamino.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 140px, 370px;
    background-size: 150%, 100%;
}
#carouselExampleControls{
    width: 800px;
    height: 200px;  
    align-content: center;
}
#foto1{
    width: 300px;
    height: 400px;
}
#foto2{
    width: 300px;
    height: 400px;
}
#foto3{
    width: 300px;
    height: 400px;
}
#foto4{
    width: 300px;
    height: 400px;
}
#one{
    font-family: "scriptin";
    text-align: center;
    font-size: 90px;
}
#psocial{
    color: black;
    font-family: "eutenia";
    font-size: 40px;
    text-align: center;
}
#social2{
    color: black;
    font-family: "eutenia";
    font-size: 40px;
}
#jap{
    text-align: center;
    font-family: "porcelai";
    font-size: 100px;
}
#why{
    font-size: 80px;
    text-align: center;
    font-family: "porcelai";
}
p.jap{
    color: black;
    font-family: "eutenia";
    text-align: center;
    font-size: 50px;    
}
footer{
    padding: 20px;
}
#nav{
    background-image: url("libro.jpg");
    background-repeat: no-repeat;
    background-position: 0px, 70px;
    background-size: 100%, 50%;
    
}
#exp{
    font-family: "selfish";
    font-size: 70px;
    text-align: center;
}   
p.exp{
    text-align: center; 
    font-family: "eutenia";
    font-size: 40px;
}
#wel{
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
  
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
  
.icon-bar a:hover {
  background-color: #000;
}
  
.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: #bb0000;
  color: white;
}
a{
    font-family: "eutenia";
    color: blue;
    font-size: 40px;
}
a.nav-link{
    color: burlywood;
    font-family: "eutenia";
    font-size: 40px;
}
#mi{
    color: blue;
    font-family: "eutenia";
    font-size: 50px;
}
#goal{
    color: blue;
    font-family: "eutenia";
    font-size: 50px;
}
#ms{
    color: blue;
    font-family: "eutenia";
    font-size: 50px;
}
#tr{
    color: blue;
    font-family: "eutenia";
    font-size:50px;
}
#car{
    color: blue;
    font-family: "eutenia";
    font-size: 50px;
}
#jov{
    color: blue;
    font-family: "eutenia";
    font-size: 50px;
}
#cto{
    color: blue;
    font-family: "eutenia";
    font-size: 50px;
}
#cont{
    font-family: "eutenia";
    font-size: 50px;
    text-align: center;
    background-color: red;
}
#drop{
    color: black;
    align-content: right;
    background-color: rgba(255, 243, 81, 0.898);
}
#two{
    text-align: center;
    font-family: "BrockScript";
    font-size: 80px;
}
#lang{
    font-family: "BrockScript";
    font-size: 60px;
}
p.stu{
    font-family: "eutenia";
    font-size: 30px;
}
#fin{
    font-family: "scriptin";
    font-size: 80px;
}
h5{
    font-size: 40px;
}
#asu{
    align-content: center;
    width: 700px;
    height: 250px;
}